把原始資料和氣象站資合併，並包成新的csv

In [63]:
import pandas as pd
from datetime import datetime, timedelta

data_dir = 'OriginalData'
df = pd.read_csv(f'..//Data//{data_dir}//L1_Train.csv')
df

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01 06:31:08.000,0.0,1016.50,17.5,86.8,25.00,0.0
1,1,2024-01-01 06:32:08.000,0.0,1016.53,17.5,86.7,28.33,0.0
2,1,2024-01-01 06:33:08.000,0.0,1016.57,17.5,86.7,32.50,0.0
3,1,2024-01-01 06:34:08.000,0.0,1016.58,17.5,86.7,39.17,0.0
4,1,2024-01-01 06:35:08.000,0.0,1016.59,17.5,86.7,45.83,0.0
...,...,...,...,...,...,...,...,...
101668,1,2024-07-24 18:17:07.000,0.0,959.80,25.1,100.0,23.33,0.0
101669,1,2024-07-24 18:18:07.000,0.0,959.92,25.1,100.0,23.33,0.0
101670,1,2024-07-24 18:19:07.000,0.0,960.09,25.1,100.0,33.33,0.0
101671,1,2024-07-24 18:20:07.000,0.0,959.40,25.1,100.0,40.00,0.0
101672,1,2024-07-24 18:21:07.000,0.0,959.02,25.0,100.0,20.00,0.0

In [64]:
df.columns.to_list()

['LocationCode',
 'DateTime',
 'WindSpeed(m/s)',
 'Pressure(hpa)',
 'Temperature(°C)',
 'Humidity(%)',
 'Sunlight(Lux)',
 'Power(mW)']

In [65]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Hour'] = df['DateTime'].dt.hour
df['Time'] = df['DateTime'].dt.strftime('%M:%S')

period = {
    '00': ("00:00", "09:59"),
    '10': ("10:00", "19:59"),
    '20': ("20:00", "29:59"),
    '30': ("30:00", "39:59"),
    '40': ("40:00", "49:59"),
    '50': ("50:00", "59:59")
}

periods = {
    key: (
        datetime.strptime(value[0], "%M:%S").time(),
        datetime.strptime(value[1], "%M:%S").time()
    )
    for key, value in period.items()
}

def get_period(time_str):
    time = datetime.strptime(time_str, "%M:%S").time()
    
    for period, (start, end) in periods.items():
        if start <= time <= end:
            return period
    return None

df['Minute'] = df['Time'].apply(get_period)
df

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Year,Month,Day,Hour,Time,Minute
0,1,2024-01-01 06:31:08,0.0,1016.50,17.5,86.8,25.00,0.0,2024,1,1,6,31:08,30
1,1,2024-01-01 06:32:08,0.0,1016.53,17.5,86.7,28.33,0.0,2024,1,1,6,32:08,30
2,1,2024-01-01 06:33:08,0.0,1016.57,17.5,86.7,32.50,0.0,2024,1,1,6,33:08,30
3,1,2024-01-01 06:34:08,0.0,1016.58,17.5,86.7,39.17,0.0,2024,1,1,6,34:08,30
4,1,2024-01-01 06:35:08,0.0,1016.59,17.5,86.7,45.83,0.0,2024,1,1,6,35:08,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101668,1,2024-07-24 18:17:07,0.0,959.80,25.1,100.0,23.33,0.0,2024,7,24,18,17:07,10
101669,1,2024-07-24 18:18:07,0.0,959.92,25.1,100.0,23.33,0.0,2024,7,24,18,18:07,10
101670,1,2024-07-24 18:19:07,0.0,960.09,25.1,100.0,33.33,0.0,2024,7,24,18,19:07,10
101671,1,2024-07-24 18:20:07,0.0,959.40,25.1,100.0,40.00,0.0,2024,7,24,18,20:07,20
101672,1,2024-07-24 18:21:07,0.0,959.02,25.0,100.0,20.00,0.0,2024,7,24,18,21:07,20

In [66]:
selected_features = [
    'WindSpeed(m/s)',
    'Pressure(hpa)',
    'Temperature(°C)',
    'Humidity(%)',
    'Sunlight(Lux)',
    'Power(mW)',
    ]
avg_df = df.groupby(['Year', 'Month', 'Day', 'Hour', 'Minute'])[selected_features].mean().round(2).reset_index()
avg_df.rename(columns=lambda x: "Avg_" + x if x in selected_features else x, inplace=True)
avg_df

,Year,Month,Day,Hour,Minute,Avg_WindSpeed(m/s),Avg_Pressure(hpa),Avg_Temperature(°C),Avg_Humidity(%),Avg_Sunlight(Lux),Avg_Power(mW)
0,2024,1,1,6,30,0.0,1016.54,17.50,86.78,50.09,0.00
1,2024,1,1,6,40,0.0,1016.59,17.49,86.80,163.25,0.02
2,2024,1,1,6,50,0.0,1016.66,17.50,86.95,326.83,0.05
3,2024,1,1,7,00,0.0,1016.73,17.50,86.99,470.83,0.08
4,2024,1,1,7,10,0.0,1016.77,17.57,86.97,659.67,0.14
...,...,...,...,...,...,...,...,...,...,...,...
10620,2024,7,24,17,40,0.0,961.30,25.22,100.00,91.25,0.00
10621,2024,7,24,17,50,0.0,961.06,24.91,100.00,54.00,0.00
10622,2024,7,24,18,00,0.0,960.91,24.76,100.00,37.25,0.00
10623,2024,7,24,18,10,0.0,959.86,24.97,100.00,40.33,0.00
10624,2024,7,24,18,20,0.0,959.21,25.05,100.00,30.00,0.00

In [67]:
max_df = df.groupby(['Year', 'Month', 'Day', 'Hour', 'Minute'])[selected_features].max().round(2).reset_index()
max_df.rename(columns=lambda x: "Max_" + x if x in selected_features else x, inplace=True)
max_df

,Year,Month,Day,Hour,Minute,Max_WindSpeed(m/s),Max_Pressure(hpa),Max_Temperature(°C),Max_Humidity(%),Max_Sunlight(Lux),Max_Power(mW)
0,2024,1,1,6,30,0.0,1016.59,17.5,86.9,86.67,0.01
1,2024,1,1,6,40,0.0,1016.65,17.5,86.9,235.00,0.03
2,2024,1,1,6,50,0.0,1016.70,17.5,87.1,400.00,0.07
3,2024,1,1,7,00,0.0,1016.76,17.5,87.0,537.50,0.10
4,2024,1,1,7,10,0.0,1016.85,17.6,87.2,784.17,0.19
...,...,...,...,...,...,...,...,...,...,...,...
10620,2024,7,24,17,40,0.0,962.24,25.3,100.0,114.17,0.01
10621,2024,7,24,17,50,0.0,961.54,25.1,100.0,80.00,0.00
10622,2024,7,24,18,00,0.0,961.33,24.8,100.0,53.33,0.00
10623,2024,7,24,18,10,0.0,960.99,25.1,100.0,66.67,0.00
10624,2024,7,24,18,20,0.0,959.40,25.1,100.0,40.00,0.00

In [68]:
min_df = df.groupby(['Year', 'Month', 'Day', 'Hour', 'Minute'])[selected_features].min().round(2).reset_index()
min_df.rename(columns=lambda x: "Min_" + x if x in selected_features else x, inplace=True)
min_df

,Year,Month,Day,Hour,Minute,Min_WindSpeed(m/s),Min_Pressure(hpa),Min_Temperature(°C),Min_Humidity(%),Min_Sunlight(Lux),Min_Power(mW)
0,2024,1,1,6,30,0.0,1016.50,17.5,86.7,25.00,0.00
1,2024,1,1,6,40,0.0,1016.51,17.4,86.7,100.83,0.00
2,2024,1,1,6,50,0.0,1016.63,17.5,86.9,251.67,0.03
3,2024,1,1,7,00,0.0,1016.69,17.5,86.9,415.83,0.07
4,2024,1,1,7,10,0.0,1016.72,17.5,86.5,570.83,0.10
...,...,...,...,...,...,...,...,...,...,...,...
10620,2024,7,24,17,40,0.0,960.69,25.1,100.0,50.00,0.00
10621,2024,7,24,17,50,0.0,960.63,24.8,100.0,45.00,0.00
10622,2024,7,24,18,00,0.0,960.40,24.7,100.0,30.83,0.00
10623,2024,7,24,18,10,0.0,958.30,24.8,100.0,23.33,0.00
10624,2024,7,24,18,20,0.0,959.02,25.0,100.0,20.00,0.00

In [69]:
max_min_df = pd.merge(max_df, min_df , how='inner')
avg_max_min_df = pd.merge(avg_df, max_min_df, how='inner')
avg_max_min_df

,Year,Month,Day,Hour,Minute,Avg_WindSpeed(m/s),Avg_Pressure(hpa),Avg_Temperature(°C),Avg_Humidity(%),Avg_Sunlight(Lux),...,Max_Temperature(°C),Max_Humidity(%),Max_Sunlight(Lux),Max_Power(mW),Min_WindSpeed(m/s),Min_Pressure(hpa),Min_Temperature(°C),Min_Humidity(%),Min_Sunlight(Lux),Min_Power(mW)
0,2024,1,1,6,30,0.0,1016.54,17.50,86.78,50.09,...,17.5,86.9,86.67,0.01,0.0,1016.50,17.5,86.7,25.00,0.00
1,2024,1,1,6,40,0.0,1016.59,17.49,86.80,163.25,...,17.5,86.9,235.00,0.03,0.0,1016.51,17.4,86.7,100.83,0.00
2,2024,1,1,6,50,0.0,1016.66,17.50,86.95,326.83,...,17.5,87.1,400.00,0.07,0.0,1016.63,17.5,86.9,251.67,0.03
3,2024,1,1,7,00,0.0,1016.73,17.50,86.99,470.83,...,17.5,87.0,537.50,0.10,0.0,1016.69,17.5,86.9,415.83,0.07
4,2024,1,1,7,10,0.0,1016.77,17.57,86.97,659.67,...,17.6,87.2,784.17,0.19,0.0,1016.72,17.5,86.5,570.83,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10620,2024,7,24,17,40,0.0,961.30,25.22,100.00,91.25,...,25.3,100.0,114.17,0.01,0.0,960.69,25.1,100.0,50.00,0.00
10621,2024,7,24,17,50,0.0,961.06,24.91,100.00,54.00,...,25.1,100.0,80.00,0.00,0.0,960.63,24.8,100.0,45.00,0.00
10622,2024,7,24,18,00,0.0,960.91,24.76,100.00,37.25,...,24.8,100.0,53.33,0.00,0.0,960.40,24.7,100.0,30.83,0.00
10623,2024,7,24,18,10,0.0,959.86,24.97,100.00,40.33,...,25.1,100.0,66.67,0.00,0.0,958.30,24.8,100.0,23.33,0.00
10624,2024,7,24,18,20,0.0,959.21,25.05,100.00,30.00,...,25.1,100.0,40.00,0.00,0.0,959.02,25.0,100.0,20.00,0.00

In [70]:
save_dir = 'PreparedData'
processed_df = avg_max_min_df
processed_df.to_csv(f"..//Data//{save_dir}//L1_Processed_Train.csv",index=False)

In [71]:
"""轉SeqNumber"""
Year = processed_df['Year'].astype(str)
Month = processed_df['Month'].astype(str).str.zfill(2)
Day = processed_df['Day'].astype(str).str.zfill(2)
Hour = processed_df['Hour'].astype(str).str.zfill(2)
Minute = processed_df['Minute'].astype(str).str.zfill(2)

DeviceID = df['LocationCode'].astype(str).str.zfill(2)

drop_features=[
    'Year',
    'Month',
    'Day',
    'Hour',
    'Minute'
]
processed_df.insert(
    0, 
    'SeqNumber', 
    Year + Month + Day + Hour + Minute + DeviceID
    )
processed_df.drop(columns=drop_features,inplace=True)
processed_df

,SeqNumber,Avg_WindSpeed(m/s),Avg_Pressure(hpa),Avg_Temperature(°C),Avg_Humidity(%),Avg_Sunlight(Lux),Avg_Power(mW),Max_WindSpeed(m/s),Max_Pressure(hpa),Max_Temperature(°C),Max_Humidity(%),Max_Sunlight(Lux),Max_Power(mW),Min_WindSpeed(m/s),Min_Pressure(hpa),Min_Temperature(°C),Min_Humidity(%),Min_Sunlight(Lux),Min_Power(mW)
0,20240101063001,0.0,1016.54,17.50,86.78,50.09,0.00,0.0,1016.59,17.5,86.9,86.67,0.01,0.0,1016.50,17.5,86.7,25.00,0.00
1,20240101064001,0.0,1016.59,17.49,86.80,163.25,0.02,0.0,1016.65,17.5,86.9,235.00,0.03,0.0,1016.51,17.4,86.7,100.83,0.00
2,20240101065001,0.0,1016.66,17.50,86.95,326.83,0.05,0.0,1016.70,17.5,87.1,400.00,0.07,0.0,1016.63,17.5,86.9,251.67,0.03
3,20240101070001,0.0,1016.73,17.50,86.99,470.83,0.08,0.0,1016.76,17.5,87.0,537.50,0.10,0.0,1016.69,17.5,86.9,415.83,0.07
4,20240101071001,0.0,1016.77,17.57,86.97,659.67,0.14,0.0,1016.85,17.6,87.2,784.17,0.19,0.0,1016.72,17.5,86.5,570.83,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10620,20240724174001,0.0,961.30,25.22,100.00,91.25,0.00,0.0,962.24,25.3,100.0,114.17,0.01,0.0,960.69,25.1,100.0,50.00,0.00
10621,20240724175001,0.0,961.06,24.91,100.00,54.00,0.00,0.0,961.54,25.1,100.0,80.00,0.00,0.0,960.63,24.8,100.0,45.00,0.00
10622,20240724180001,0.0,960.91,24.76,100.00,37.25,0.00,0.0,961.33,24.8,100.0,53.33,0.00,0.0,960.40,24.7,100.0,30.83,0.00
10623,20240724181001,0.0,959.86,24.97,100.00,40.33,0.00,0.0,960.99,25.1,100.0,66.67,0.00,0.0,958.30,24.8,100.0,23.33,0.00
10624,20240724182001,0.0,959.21,25.05,100.00,30.00,0.00,0.0,959.40,25.1,100.0,40.00,0.00,0.0,959.02,25.0,100.0,20.00,0.00